.topnav {
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.Vlagfilipijnen {
    float: left;
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.navbuttons {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: rgb(0, 56, 168)
   
}

