.topnav {
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
    box-shadow: #333;
}

.Vlagfilipijnen {
    float: left;
    width: 100px;
    height: auto;
    margin-right: 20px;
}